.loader {
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00A7E1;
  border-bottom: 16px solid #00A7E1;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  margin-left:-60px;
  margin-top:-60px;
  visibility:visible;
  filter: blur(0px); 
}


 .loader-disable {
  display: none;
  visibility: hidden;  
} 

.loaderdisplay {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00A7E1;
  border-bottom: 16px solid #00A7E1;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-left:45%;
  margin-top:-50%;
  visibility:visible;
  filter: blur(0px); 
}


 .loaderhide {
  display: none;
  visibility: hidden;  
} 



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* new */
#previewLoaderNew {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.redColorText {
  color: red;
}

.greenColorText {
  color: green;
}

.datepicker-calendar-icon{
  top: 5px;
  right: 5px;
}

.DownloadPatformGuide button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
}

.download button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
}

.downloadBrochure button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 30%;
  margin-top: 3px;
}

.downloadCaseBuildGuide button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 30%;
  margin-top: 3px;
}

.downloadCompliance button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 30%;
  margin-top: 3px;
}

.downloadMasterAppPDF button{
  background-image: url(/content/dam/aflacapps/case-build/download_Icon_64.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 10%;
  margin-top: 3px;
}

.downloadMasterAppPDF button:disabled{
  background-image: url(/content/dam/aflacapps/download_icon_64_disabled.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 10%;
  margin-top: 3px;
}

.previewMasterAppPDF button{
  background-image: url(/content/dam/aflacapps/preview_icon_96.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 15%;
  margin-top: 3px;
}

.previewMasterAppPDF button:disabled{
  background-image: url(/content/dam/aflacapps/preview_icon_96_disabled.png); 
  background-color: rgba(255,255,255,0);
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 0%;
  background-size: 100%;  
  margin-left: 15%;
  margin-top: 3px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  /* margin: auto; */
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: 1px solid #888;
  max-width: 60%;
  width: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #00a7e1;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

#voidYes {
  margin-left: 16px;
  width: 60px;
}

#voidNo {
  margin-left: 12px;
  width: 60px;
}