scripts=["
    create service user aflac-service-user-service with forced path system/cq:services

    # When using principal ACLs, the service user MUST be created under system/cq:services
    set principal ACL for aflac-service-user-service
        allow jcr:all on /
        allow jcr:all on /var
        allow jcr:all on /var/workflow/instances
        allow jcr:all on /content/dam
    end
"]